* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #173b35;
    background: #f7fbf9;
    line-height: 1.6;
}

/* =========================
   NAVBAR
========================= */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #e5eeee;
    backdrop-filter: blur(10px);
}

.navbar {
    max-width: 1200px;
    margin: auto;
    height: 75px;
    padding: 0 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #167d67;
}

.logo span {
    color: #e45c65;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #34534e;
    font-weight: 600;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #159477;
}

.nav-button {
    text-decoration: none;
    background: #159477;
    color: white;
    padding: 11px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-button:hover {
    background: #106f5a;
    transform: translateY(-2px);
}
